@import url(https://fonts.googleapis.com/css?family=Merriweather|Roboto&display=swap rel="stylesheet");

body {
  font: 13px/20px "Roboto", Tahoma, Verdana, sans-serif;
  background-image: url("family.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
}

input:invalid+span:after {
  position: absolute; 
  content: '✖';
  padding-left: 5px;
  color: #8b0000;
}
input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
  color: #009000;
}

.logo {
 top:20px;
 left:20px;
 position : absolute;
}

.taia {
 font-size: 30px;
 font-style:italic;
}
.form2 {
 font-family: 'Roboto', sans-serif;
 font-size: 1.1em;
 width: 320px;
 height: 300px;
 text-align:left;
 margin-top : 20px;
 margin-left : 20px;
 position:relative;
}
#preview{
  position: relative;
}

#pform{
 margin-right:50px;
 color:#bcbcbc;
}

.btn{
 margin-top: 25px;
 margin-right : 15px;
  width: 280px
  height: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  color: black;
  background: #bcbcbc;
  text-shadow: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

#myBtn{
  background: #f2672e;
  position: absolute;
  left:12%;
  top:20%;
  height:50px;
  border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
}

#boxAndlabel{
  width:130px;
  position:relative;
  left:270px;
  bottom: 10px;
  font-style:italic;
  }

#closepop{
  color: black;
}

button:hover, button:focus{
  color: #fff;
  -webkit-box-shadow: inset 0px 50px 0px 0px rgba(204,86,15,1);
  -moz-box-shadow:    inset 0px 50px 0px 0px rgba(204,86,15,1);
  box-shadow:         inset 0px 50px 0px 0px rgba(204,86,15,1);
  -webkit-animation: shadowFade 0.4s;
  -moz-animation: shadowFade 0.4s;
}
input + span {
  padding-right: 30px;
}
.form {
    width: 100%;
}
.design {
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 420px;
  background: #ffe6d3;
  border-radius: 3px;
}
.design:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
.design h1 {
  line-height: 55px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background: #f2672e;
}

/* === Input Form === */
::-webkit-input-placeholder {
  color: #ded9cf;
}

:-moz-placeholder {
  color: #ded9cf !important;
}

.form input[type] {
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    position: relative;
    width: 250px;
    height: 15px;
    border: none;
    font-family: 'Roboto', sans-serif;
    background: #f7f3eb;
    transition: color 0.3s ease-out;
}

.form input[type] {
    margin-bottom: 10px;
}

.form button[type=submit] {
  margin-top: 5px;
  width: 270px;
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  padding: 12px 0;
  letter-spacing: 0;
  color: #fff;
  background-color: #f2672e;
  text-shadow: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
}

.form button[type=submit]:hover, button[type=submit]:focus{
  color: #fff;
  -webkit-box-shadow: inset 0px 46px 0px 0px rgba(204,86,15,1);
  -moz-box-shadow:    inset 0px 46px 0px 0px rgba(204,86,15,1);
  box-shadow:         inset 0px 46px 0px 0px rgba(204,86,15,1);
  -webkit-animation: shadowFade 1s;
  -moz-animation: shadowFade 1s;
}

/* Close Pop-up */
.popUp {
  margin-top : 180px;
  display: block; 
  overflow: auto;
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.close {
  color: white;
  float: right;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#mypopUp{
  display: none;
}


/* Add Animation */
@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
