@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet);

body {
	font: 13px/20px "Roboto", Tahoma, Verdana, sans-serif;
	background-image: url("family.jpg");
  	background-position: center;
  	background-repeat: no-repeat; 
  	background-size: cover;
  	background-attachment: fixed;
}

.hc { width:100%; left:0; right:0; margin-left:auto; margin-right:auto; } /* Horizontal Center Align */ 

.wrap {
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.5s;
}

.design {
  position: relative;
  margin: 0px auto;
  width: 500px;
  height: 400px;
  background: #ffe6d3;
  border-radius: 3px;
}

.design:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.design h1 {
  line-height: 70px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  background: #f2672e;
  font-style: italic;
  padding-left: 20px;
}

#inputImg {
	width:25px; height:25px;
	vertical-align: middle;
	margin-right:5px;
}

.formCSS {
 font-size: 1.2em;
 text-align: center;
 margin-top:40px;
}

.formCSS input[type] {
    font-size: 14px;
    padding: 10px;
    height: 15px;
    border: none;
    background: #f7f3eb;
    transition: color 0.3s ease-out;
}

.formCSS input[type=email], input[type=tel] {
	width: 365px;
}

button {
  margin-top: 30px;
  width: 135px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  color: #fff;
  background-color: #f2672e;
  text-shadow: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  position: relative;
}

/* Button hover & focus */
.buttonAlert:hover, .signBox:hover {
   color: #fff;
  -webkit-box-shadow: inset 0px 46px 0px 0px rgba(204,86,15,1);
  -moz-box-shadow:    inset 0px 46px 0px 0px rgba(204,86,15,1);
   box-shadow:        inset 0px 46px 0px 0px rgba(204,86,15,1);
}

.submit:hover {
   color: #fff;
  -webkit-box-shadow: inset 0px 46px 0px 0px rgba(20,122,54,1);
  -moz-box-shadow:    inset 0px 46px 0px 0px rgba(20,122,54,1);
   box-shadow:        inset 0px 46px 0px 0px rgba(20,122,54,1);
}

.preview:hover {
  color: #000;
  -webkit-box-shadow: inset 0px 46px 0px 0px rgba(160,154,154,1);
  -moz-box-shadow:    inset 0px 46px 0px 0px rgba(160,154,154,1);
   box-shadow:        inset 0px 46px 0px 0px rgba(160,154,154,1);
}

/* Button padding */
.btnPd {
	padding: 12px 0;
}

.submit {
	background: #129740;
	margin-left:10px;
}

/* preview */
.preview {
	  display: block;
	  margin: 0 auto;
	  position: relative;
	  top: 20px;
    background: #bcbcbc;
    color:#000;
 	  width:76.58px;
}

#pform {
    position: relative;
    text-align: center;
	  color:#bcbcbc;
    top:20px;
    margin-right:35px;
}


/* Validation */
input:invalid+span:after {
  position: relative; 
  content: '✖';
  color: #8b0000;
  vertical-align: middle;
}

input:valid+span:after {
  position: relative;
  content: '✓';
  color: #009000;
  vertical-align: middle;
}

input + span {
  margin-left: 10px;
}

#check{
  position: absolute;
  margin-top:15px;
  width:100%;
  font-weight: bold;
}

/* Open and Close */
.close {
  color: black;
  float: right;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin-right: 5px;
}

.close:hover {
  color: #fff;
  cursor: pointer;
}

.askBox {
  position: relative;
  font-style: italic;
  text-align: right;
  font-size:15px;
  top:50px;
}

.askBox > div {margin-left:5px;} /* spacing between askBox and X sign */

.signBox {
   width: 200px;
   position: absolute;
   top: 18%;
   left:170px;
   color: #000;
   border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
   border: 0px solid #000000;
}
/* Add Animation */
@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}